@import "tailwindcss";
@source "../src/**/*.{jsx,tsx}";

/* Keep this to ensure the layout matches your goal */
body {
  margin: 0;
  padding: 0;
  background-color: white; /* For the white sections */
}